@page "/login"
@using System.ComponentModel.DataAnnotations
@using System.Security.Claims
@using EventManager.Components.Middleware
@using EventManager.Components.Shared
@using EventManager.Data
@using Microsoft.AspNetCore.Authentication.Cookies
@using System.Text.RegularExpressions
@inject UserService userService
@inject NavigationManager nav

<h1>Login</h1>
<div class="row">
    <div class="col-md-4">
        <Alert @ref="alert" />
        <section>
            @*powiązanie z InputModel, metoda wywoła się tylko, jeśli walidacja przejdzie*@
            <EditForm Model="Input" method="post" OnValidSubmit="OnLogin" FormName="Login">
                <DataAnnotationsValidator />
                <hr />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Email" class="form-control" aria-required="true" />
                    <label for="email" class="form-label">Email</label>
                    <ValidationMessage For="() => Input.Email" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="Input.Password" class="form-control" aria-required="true" />
                    <label for="password" class="form-label">Password</label>
                    <ValidationMessage For="() => Input.Password" class="text-danger" />
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
                </div>
            </EditForm>
        </section>
    </div>
</div>

@code {
    private Alert alert;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    //metoda logowania
    public async Task OnLogin()
    {
        //pobranie użytkownika z bazy
        var user = userService.Verify(Input.Email, Input.Password);

        //jeśli użytkownik nie istnieje: alert
        if (user is null)
        {
            alert.ShowFailed("Invalid Email or Password");
            return;
        }

        if (user.ACCOUNT_LOCKED == "TRUE")
        {
            alert.ShowFailed("Account is locked");
            return;
        }

        //tworzenie Claims, info wyświetlane później w MainLayout do pokazania zalogowanego użytkownika
        var claims = new List<Claim>
        {
            new Claim(ClaimTypes.Name, user.EMAIL), //email użytkownika
            new Claim(ClaimTypes.Role, user.ROLE) //rola użytkownika
        };

        //utworznie tożsamości opartej na cookie auth
        var claimIdentity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);

        //utworzenie pryncypału, który reprezentuje zalogowanego użytkownika
        ClaimsPrincipal claimsPrincipal = new ClaimsPrincipal(claimIdentity);

        //utworzenie unikalnego klucza GUID
        Guid key = Guid.NewGuid();
        //wrzucenie użytkownika do słownika AuthMiddleware.Logins
        AuthMiddleware.Logins[key] = claimsPrincipal;
        //przekierowanie na /login?key=...
        nav.NavigateTo($"/login?key={key}", true);
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";
    }
}
