@using System.ComponentModel.DataAnnotations @*potrzebny do walidacji*@ 
@using EventManager.Components.Shared @*daje dostęp do komponentu Alert*@
@using EventManager.Data @*daje dostęp do modeli i serwisów, np. User, UserService*@
@using System.Text.RegularExpressions

@*strona dostępna pod adresem /register, wstrzyknięcie serwisu do zapisu użytkownika*@
@page "/Register" 
@inject UserService userService
@rendermode InteractiveServer

<h1>Register</h1> @*nagłówek*@
<div class="row">
    <div class="col-md-4">
        <Alert @ref="alert" /> @*referencja do komponentu Alert*@
        <section>
            <EditForm Model="Input" method="post" OnValidSubmit="RegisterUser" FormName="Register"> @*powiązanie z klasą InputModel, metoda wywoła się tylko, jeśli walidacja przejdzie*@
                <DataAnnotationsValidator /> @*włącza walidację opartą na [Required] itp.*@
                <hr />
                <div class="form-floating mb-3"> @*pole email, binding emaila, jeśli jest pusty, walidacje pokaże błąd*@
                    <InputText @bind-Value="Input.Email" class="form-control" aria-required="true" /> 
                    <label for="email" class="form-label">Email</label>
                    <ValidationMessage For="() => Input.Email" class="text-danger" />
                </div>
                <div class="form-floating mb-3"> @*pole hasło, binding hasła, jeśli jest puste, walidacje pokaże błąd*@
                    <InputText type="password" @bind-Value="Input.Password" class="form-control" aria-required="true" />
                    <label for="password" class="form-label">Password</label>
                    <ValidationMessage For="() => Input.Password" class="text-danger" />
                </div>
                <!--
                <div class="form-floating mb-3"> @*pole rola, użytkownik wybiera swoją rolę*@
                    <InputSelect class="form-select" @bind-Value="Input.Role" aria-required="true">
                        <option value="Admin">Admin</option>
                        <option value="DefaultUser">Default User</option>
                    </InputSelect>
                    <label for="role" class="form-label">Role</label>
                    <ValidationMessage For="() => Input.Role" class="text-danger" />
                </div>
                -->
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button> @*przycisk do przesłania danych*@
                </div>
            </EditForm>
        </section>
    </div>
</div>

@code {
    private Alert alert; //referencja do Alert

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new(); //przechowuje dane z formularza

    public string Encrypt(string plainText)
    {
        string encryptPassword = Eramake.eCryptography.Encrypt(plainText);
        return encryptPassword;
    }

    public string Decrypt(string cipher)
    {
        string decryptPassword = Eramake.eCryptography.Decrypt(cipher);
        return decryptPassword;
    }

    //rejestracja użytkowników
    public void RegisterUser()
    {
        string encryptPassword;

        //wymóg, aby hasło zawierało duże litery i małe litery i cyfry
        if (!(Regex.IsMatch(Input.Password, "[A-Z]") && Regex.IsMatch(Input.Password, "[a-z]") && Regex.IsMatch(Input.Password, "[0-9]")))
        {
            alert.ShowFailed("Password must contain uppercase letters, lowercase letters and numbers");
            return;
        }

        //wymóg, aby hasło składało się z przynajmniej 8 znaków
        if (Input.Password.Length < 8)
        {
            alert.ShowFailed("Password must be at least 8 characters long");
            return;
        }

        encryptPassword = Encrypt(Input.Password);

        //przekazanie obiektuUser do userService.SaveUser
        bool result = userService.SaveUser(
            //utworzenie nowego obiektu User
            new User
                {
                    Email = Input.Email,
                    Password = encryptPassword,
                    Role = "DefaultUser"
                }
        );

        //jeśli zapis się udał: zielony alert
        if (result)
        {
            alert.ShowSuccess("Register Successfully");
        }
        //jeśli zapis się nie udał: czerwony alert
        else
        {
            alert.ShowFailed("Register Failed");
        }
    }

    //przechowuje dane wpisane przez użytkownika w formularzu, wszystkie pola wymagane
    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = ""; //get; set; potrzebne do powiązania @bind-Value

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        //[Required]
        //[DataType(DataType.Text)]
        //public string Role { get; set; } = "";
    }
}
