@*szablon całej aplikacji, który generuje finalny HTML wysyłany do przeglądarki*@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" /> @*obsługa polskich znaków*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> @*responsywność na telefonach*@
    <base href="/" /> @*wszystkie ścieżki zaczynają się od /*@
    <ResourcePreloader /> @*przyspiesza ładowanie aplikacji*@
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" /> @*ładowanie Bootstrapu*@
    <link rel="stylesheet" href="@Assets["app.css"]" /> @*ładowanie app.css*@
    <link rel="stylesheet" href="@Assets["EventManager.styles.css"]" /> @*ładowanie EventManager.styles.css*@
    <ImportMap /> @*pozwala Blazorowi ładować moduły JavaScript bez bundlera*@
    <link rel="icon" type="image/png" href="favicon.png" /> @*ikona strony*@
    <HeadOutlet @rendermode="InteractiveServer" /> @*pozwala komponentom dynamicznie dodawać elementy do head*@
</head>

<body>
    @*InteractiveServer włącza eventy C# dla całej aplikacji*@
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal /> @*pokazuje okienko gdy połączenie z serwerem zostanie zerwane*@

    @*najpierw Blazor, potem helper — kolejność ważna*@
    <script src="@Assets["_framework/blazor.web.js"]"></script>

    @*ukośnik na początku = ścieżka bezwzględna, zawsze znajdzie plik*@
    <script src="/languageHelper.js"></script>
</body>

</html>