@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Sections

@*nagłówek menu*@
<div class="top-row ps-3 navbar navbar-dark"> @*ciemne tło*@
    <div class="container-fluid">
        <a class="navbar-brand" href="">EventManager</a> @*link do strony głównej*@
    </div>
</div>

@*przycisk rozwijania menu*@
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

@*główna sekcja menu*@
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    @*lista linków, menu pionowe*@
    <nav class="nav flex-column">
        @*link do strony głównej*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <CascadingAuthenticationState>
            <!--
            @*widoczne tylko dla niezalogowanych*@
            <AuthorizeView>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="login">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="register">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Register
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
            -->
            @*widoczne tylko dla użytkownika Manager*@
            <AuthorizeView Roles="Manager">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
                    </NavLink>
                </div>
            </AuthorizeView>
            @*widoczne tylko dla użytkownika DefaultUser*@
            <AuthorizeView Roles="DefaultUser">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="weather">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Event">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                            <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                        </svg>
                        Event list
                    </NavLink>
                </div>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </nav>
</div>

